asgiref==3.3.0
boto3==1.17.18
botocore==1.20.18
cffi==1.14.4
dataclasses==0.6
dj-database-url==0.5.0
Django==3.1.5
django-braces==1.14.0
django-heroku==0.3.1
django-model-utils==4.0.0
django-phonenumber-field==5.0.0
django-storages==1.11.1
gunicorn==20.0.4
jmespath==0.10.0
phonenumbers==8.12.19
Pillow==8.0.1
psycopg2==2.8.6
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.4
s3transfer==0.3.4
six==1.15.0
sqlparse==0.2.4
swapper==1.1.2.post1
urllib3==1.26.3
whitenoise==5.2.0
