:root {
    --black: #242424;
    --darkish-gray: #999;
    --ghost-white: #f5f5f5;
    --dark-blue: #2352c5;
    --gold:  #FAC71B;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
    line-height: 1.6;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h2 { 
    font-weight: 300;
} 

hr { 
    margin-top: 15px;
    margin-bottom: 30px;
}
hr.solid {border-top: 1.9px solid;}
hr.solid.blue { color: var(--dark-blue)}

a {
    text-decoration: none;
    transition: ease 0.3s;
}
a:hover {
    text-decoration: none;
}

.bg-black {
    background: var(--black);
}

.bg-gray {
    background: var(--ghost-white);
}

/**************
   HOME PAGE
***************/

#landing-wrapper {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/landing/images/background-image.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.mainmenu-area {
    background: rgba(0,0,0, 0.8)
}

.navbar-nav .nav-link {
    color: #FFF !important;
}

div.dropdown-menu {
    left: -100;
}

.fade-in-up {
    animation-name: fadeInUp;
}

.jumbotron {
    margin-top: 100px;
    background: none;
}

.input-group .btn {
    padding-left: 30px;
    padding-right: 30px;
}

.card-header a {
    color: #5b5b5b;
}

.section {
    padding: 80px 0;
}

.icon-bar li {
    color: var(--dark-blue);
    font-size: 26px;
}

.icon-bar li::after {
    background-color: var(--dark-blue);
    content: "";
    display: inline-block;
    height: 1px;
    margin: 6px 0 6px 6px;
    width: 100px;
}

.about-img-wrapper {
    padding: 40px 0 0 50px;
}

.about-img-wrapper img {
    border-radius: 5%;
}

.list-unstyled {
    list-style-type:none;
}

.list-inline {
    padding: 0;
    white-space: nowrap;
}

.list-inline > li {
    display: inline;
}

footer li i {
    margin-right: 10px;
}

footer ul.links li {
    max-width: 100px;
}

footer ul.links li i {
    margin-left: 10px;
}

footer a {
    color: var(--ghost-white);
}


footer a:hover {
    color: var(--gold);
}

.social-icons i {
    font-size: 16px;
}

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
}

.border-none * {
    border: none !important;
}

.addres-tb tr td i {
    font-size: 20px;
}

li.rotate:hover a{
    color: var(--gold);
}
li.rotate:hover i{
    color: var(--gold);
}

i.icofont-square {
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.5s;
    -webkit-transition-duration: .5s;
    -ms-transition-duration: .5s;
}

li.rotate:hover .icofont-square {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

/********************************
AUTHENTICATION PAGES
*********************************/

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.wrapper-detail {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.inner {
    position: relative;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    color: #242424;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
}

.input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--darkish-gray);
    padding: 7px;
    width: 100%;
    margin: 7px;
  }

.input:focus {
    border-color: #2352c5;
  }

.confirm-btn {
    margin-top: 35px;
    background-color: var(--darkish-gray);
    height: 50px;
    width: 150px;
    border: none;
    color: #FFF;
    cursor: pointer;
}

.discard-btn {
    background-color: var(--darkish-gray);
    border: none;
    color: #FFF;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: -20px;
    right: 10px;
    display: flex;
    align-items: center;
}

.close-btn a{
    display: inline-block;
    font-weight: 500;
    margin: 0;
    font-size: 60px;
    color: var(--darkish-gray);
    transform: rotate(45deg);
}

.close-btn a:hover {
    color: var(--black);
}

.close-btn span {
    display: inline-block;
    opacity: 0;
    transition: 0.4s;
    transform: translateX(10px);
}

.close-btn:hover span {
    opacity: 1;
    transform: translateX(-10px);
}

.input-password {
    font: small-caption;
    font-size: 16px;
}

.span-link {
    font-size: 12px;
    font-weight: 600;
}

/********************************
PROFILE
*********************************/
.profile-nav h1 {
    font-size: 22px;
}
.profile-nav h2 {
    font-size: 18px;
}

.profile-nav p {
    font-size: 13px;
}

.profile-nav .user-heading {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profile-nav .user-heading a img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    -webkit-border-radius:50%;
} 

.round {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid rgba(255, 255,255, 0.3);
    display: inline-block;
}

.profile-nav .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.profile-nav ul > li {
    border-radius: 0;
    -webkit-border-radius: 0;
    border-left: 5px solid transparent;
    border-bottom: 1px solid #ebeae6;
    line-height: 30px;
}

.profile-nav ul > li > a {
    color: #89817f;
}

.profile-nav ul > li:hover,
.profile-nav ul > li:focus,
.profile-nav ul li.active {
    background: #f5f5f5 !important;
    border-left: 5px solid #242424;
    color: #89817f !important;
}

.col-md-3.inner {
    padding:0;
}

.panel p span {
    width: 150px;
    display: inline-block;
}

/* Books library */

.pull-left{
    float:left;
  }
  .pull-right{
    float:right;
  }
  
  .input-search{
    width: 90%;
    float:left;
    border: 1px solid #d6d6d6;
    border-radius: 6px 0 0 6px;
    padding-left: 15px;
  }

  .input-group{
    float:left;
    
  }
  .btn-primary{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .space-10{
    height:10px;
  }
   .space-30{
    height:30px;
  }
  .space-80{
    height:80px;
  }

  .book-item-left .book-item-body{
    display: table-cell;
    vertical-align: 10px;
  }

  .book-item-object{
    display: block;
  }

  .active-star{
    color: var(--gold);
  }

.active-half-star{
    background: linear-gradient(90deg, var(--gold) 40%, #A8A498 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .rating-star{
     color: #A8A498;
  }

  .book-item{
    padding: 30px 20px;
    min-width: 190px;
    min-height: 290px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    margin-bottom: 20px; 
  }
  .book-item:hover{
    border-color: var(--gold);
    box-shadow: 0 5px 15px 5px rgba(0,0,0,0.3);
    transform: translateY(-5px);
  }

  .book-item-image {
    margin-bottom: 10px;
  }

  .book-item-body {
    padding-left: 25px;
  }

  .category-menu li {
    margin-bottom: 10px;
  }
  .category-menu li a{
   
    color: #5d5d5d;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s
  }

  .category-menu li a:hover{
    color: var(--gold);
    margin-left: 5px;
  }

  .category-menu li a::before{
    content: "#";
    font-weight: bold;
  }

  .sort-menu li a{
    color: #5d5d5d;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s
  }

  .sort-menu li a:hover{
    color: var(--gold);
  }

  .sort-menu li a::before{
    font-weight: bold;
  }

/********************************/
/***   Book details opinion   ***/
/********************************/
.text-black {
    color: #000000;
    font-weight: bold;
}

.reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}

/********************************/
/***   Ebook details opinion   ***/
/********************************/
.download-form {
    margin-right: 10px;
    display: inline-block;
}

.download-form button {
    font-size:15px;
}