{% extends "landing/base_template.html" %}
{% block header %}
<div id="landing-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-sm-offset-1 text-center">
                <div class="jumbotron mb-2 pb-5">
                    <h1 class="display-4 text-white">Welcome To Your Library</h1>
                    <p class="lead text-white">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Ut gravida, quam vitae
                        <br>
                        est Sed non eros elementum nulla sodales
                        ullamcorper.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center fade-in-up">
            <div class="col-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#book" data-toggle="tab" >Book</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#author" data-toggle="tab">Author</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="book">
                                <form method="GET" action="{% url 'filter_book' %}">
                                    <div class="input-group">
                                        <input type="text" name="book_title" class="form-control" placeholder="Enter book title">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="icofont-search-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="author">
                                <form method="GET" action="{% url 'filter_book' %}">
                                    <div class="input-group">
                                        <input type="text" name="book_author" class="form-control" placeholder="Enter author name">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="icofont-search-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <section class="section" id="about-us">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-sm-offset-2 text-center">
                    <h2>About <strong>Us</strong></h2>
                    <hr class="solid blue">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida, quam vitae est Sed non eros elementum nulla sodales ullamcorper.
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-12 col-lg-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies eros pellentesque eros interdum, a efficitur tellus malesuada. Nunc non metus quis elit dictum ultricies. Quisque ultricies aliquam arcu.</p>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li>
                                    <i class="icofont-id-card"></i>
                                </li>
                            </ul>
                            <h3>Member Card</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros pellentesque</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li>
                                    <i class="icofont-medal"></i>
                                </li>
                            </ul>
                            <h3>High Quality Books</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros pellentesque</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li>
                                    <i class="icofont-ebook"></i>                               
                                </li>
                            </ul>
                            <h3>All Books & Ebooks For Free</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros pellentesque</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li>
                                    <i class="icofont-book-alt"></i>  
                                </li>
                            </ul>
                            <h3>Up To Date Books</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros pellentesque</p>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-none d-md-none d-lg-block col-sm-5 about-img-wrapper">
                    <img src="static/landing/images/librarian.jpg" class="img-responsive" alt="Our librarian" />
                </div>
            </div>
        </div>
    </section>
{% endblock %} 