{% extends "landing/auth_base_template.html" %} {% load static %} 
{% block content %}
<div class="wrapper bg-gray">
  <div class="container inner bg-white">
    <div class="close-btn">
        <span>back home</span>
        <a href="/">+</a>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 image-holder">
        <img
          class="rounded"
          src="{% static 'landing/images/hero-fell.jpg'%}"
          alt="picture"
        />
      </div>
      <div class="col-12 col-sm-6 p-4 my-auto text-center">
        <h2>You have been logged out.</h2>
        <legend><a href="{% url 'login' %}">Log In</a></legend>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
