{% extends "landing/auth_base_template.html" %} 
{% load static %}
{% block content %}
<div class="wrapper bg-gray">
    <div class="container inner bg-white">
        <div class="row">
            <div class="col-12 col-sm-6 image-holder">
                <img class="rounded" src="{% static 'landing/images/hero-fell.jpg'%}" alt="">
            </div>
            <div class="col-12 col-sm-6 p-4 my-auto">
                <form method="POST">
                    {% csrf_token %}
                    <h3 class="text-center mb-5"><b>Forgot Your Password ?</b></h3>
                    <fieldset class="form-group">
                        <p class="ml-2 text-center">Enter your email below, and we'll email you instructions for setting a new one.</p>
                        <input type="text" name="email" placeholder="Email" {% if form.is_bound %} value="{{ form.email.value }}" {% endif %} class="input" autocomplete="new-password">
                        <button class="confirm-btn mx-auto" style="display: block;" type="submit" class="register-btn">Reset</button>                        
                    </fieldset>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}}