{% extends "landing/profile_base_template.html" %}
{% load static %} 
{% block content %}

<div class="wrapper bg-gray">
  <div class="container" style="margin-top: 90px;">
    <div class="row">
      <div class="col-md-3 inner bg-white">
        <div class="profile-nav">
          <div class="user-heading round">
            <a href="">
              <img src="{{ user.profile.image.url }}" alt=""/>
            </a>
            <h1>{{ user.username }}</h1>
          </div>
          <ul class="nav nav-pills flex-column">
            <li class="nav-link">
              <a href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-link active">
              <a href="">My Books</a>
            </li>
            <li class="nav-link">
              <a href="{% url 'profile_edit' %}">Edit Profile</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 inner bg-white">
        {% if book_reservations|length == 0 and book_rentals|length == 0 %}
          <h2>No books found</h2>
        {% else %}
        <h2>Reserved</h2>
        <hr>
        <table style="width:100%">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Author</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for book_reservation in book_reservations %}
            <tr>
              <td>
                <img src="{{ book_reservation.book.book.image.url }}" alt="" width="60px" height="90px">
              </td>
              <td >{{ book_reservation.book.book.title }}</td>
              <td>{{ book_reservation.book.book.author }}</td>
              <td>
                <form method="POST">
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="book_instance_id"
                    value="{{book_reservation.book.id}}"
                  />
                  <button class="discard-btn" type="submit">
                    Discard reservation
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="space-30"></div>
        <div class="space-30"></div>
        <h2>Rented</h2>
        <hr>
        <table style="width:100%">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Author</th>
              <th>Return date</th>
              <th>Expired</th>
              <th>Cost</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for book_rental in book_rentals %}
            <tr>
              <td>
                <img src="{{ book_rental.book.book.image.url }}" alt="" width="60px" height="90px">
              </td>
              <td style="max-width: 130px;">{{ book_rental.book.book.title }}</td>
              <td>{{ book_rental.book.book.author }}</td>
              <td>{{ book_rental.get_due_date }}</td>
              <td>{{ book_rental.get_days_expired }} days</td>
              <td>{{ book_rental.get_cost }} $</td>
              <td>
                <form method="POST">
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="book_instance_extend_id"
                    value="{{book_rental.book.id}}"
                  />
                  <button class="discard-btn" type="submit">
                    Extend
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div> 
    </div> 
  </div>
</div>
{% endblock %}
