{% extends 'landing/profile_base_template.html' %}
{% load static %}
{% load landing_extras %}

{% block content %}
<style>
    .active-half-star{
        background: linear-gradient(90deg, #FAC71B 40%, #A8A498 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
<div class="wrapper-detail bg-gray" style="padding-top: 60pt;">
    <div class="container inner bg-white mt-5">
        <div class="row ">
            <div class="col-lg-5 align-items-start image-holder">
                <img class="rounded" src="{{ book.image.url }}" alt="book image" width="300">
                <div class="space-10"></div>
            </div>
            <div class="col-lg-7 align-items-start mt-3">
                <h1>{{ book.title }}</h1>
                <p>{{ book.author }}</p>
                {{book.rating}}
                <ul class="list-inline list-unstyled rating-star">
                    {% for _ in book.get_enabled_star %}
                        <li class="active-star">
                            <i class="icofont-star"></i>
                        </li>
                    {% endfor %}
                    {% if book.is_half_star_active %}
                        <li class="active-half-star">
                            <i class="icofont-star"></i>
                        </li>
                    {% endif %}
                    {% for _ in book.get_disabled_star %}
                        <li>
                            <i class="icofont-star"></i>
                        </li>
                    {% endfor %}
                </ul>
                <p>Genre: 
                    {% for genre in book.genre.all %} 
                        {{genre.name}}{% if not forloop.last %},{% endif %}
                    {% endfor %}</p>
                <h4>Summary:</h4>
                <p>
                    {{ book.summary|linebreaksbr }}
                </p>
                <p>ISBN: {{ book.isbn|linebreaksbr }} </p>
                {% if bookInstance.status  == "A" %}
                <p>Available: Yes </p>
                <form method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated and request.user|has_group:"reader" %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Reserve</button>
                        </div>
                    {% endif %}
                </form>
                {% else %}
                <p>Available: No </p>
                {% endif %} 
                
            </div>
        </div>
    </div>
    {% if user.is_authenticated and request.user|has_group:"reader" %}
    <div class="container inner bg-white mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">

                <label class="ml-1"  for="opinion_title">Rating: </label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="defaultInline1" name="rating" value="1">
                  <label class="custom-control-label" for="defaultInline1">1</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="defaultInline2" name="rating" value="2">
                  <label class="custom-control-label" for="defaultInline2">2</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="defaultInline3" name="rating" value="3">
                  <label class="custom-control-label" for="defaultInline3">3</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="defaultInline4" name="rating" value="4">
                  <label class="custom-control-label" for="defaultInline4">4</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="defaultInline5" name="rating" checked value="5">
                  <label class="custom-control-label" for="defaultInline5">5</label>
                </div>

                <legend class="border-bottom mb-4">Your Opinion</legend>
                <label class="ml-1"  for="opinion_title">Title</label>
                <input id="opinion_title" name="title" type="text" class="form-control mb-3">
                <label for="opinion_description">Description</label>
                <textarea id="opinion_description" name="content" class="form-control" rows="5"></textarea>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary ml-1" type="submit">Post</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="container inner bg-white mt-2">
        <h3>Book Reviews</h3>
        <hr>
        {% for opinion in book.opinions.all %}
            <div class="reviews-members pt-4 pb-4">
                <h4 class="mb-4" style="font-weight: bold;">{{ opinion.title }}</h4>
                <div class="media">
                    <a href="#"><img alt="Generic placeholder image" src="{{ opinion.author.profile.image.url}}" class="mr-3 rounded-pill"></a>
                    <div class="media-body">
                        <div class="reviews-members-header">
                            <h6 class="mb-1"><a class="text-black" href="#">{{ opinion.author.username }}</a></h6>
                            <p class="text-gray">{{ opinion.date_posted|date:"F d, Y" }}</p>
                            <ul class="list-inline list-unstyled rating-star">
                                {% for _ in book.get_enabled_star %}
                                    <li class="active-star">
                                        <i class="icofont-star"></i>
                                    </li>
                                {% endfor %}
                                {% if book.is_half_star_active %}
                                    <li class="active-half-star">
                                        <i class="icofont-star"></i>
                                    </li>
                                {% endif %}
                                {% for _ in book.get_disabled_star %}
                                    <li>
                                        <i class="icofont-star"></i>
                                    </li>
                                {% endfor %}
                            </ul>    
                        </div>
                        <div class="reviews-members-body">
                            <p>{{ opinion.content }}</p>
                        </div>
                    </div>
                </div>
                <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}