{% extends "landing/base_template.html" %}
{% load static %}

{% block content %}
  <div class="space-80"></div>
  <div class="space-30"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 pull-left">
            <div class="space-30"></div>
            <h5>Search box</h5>
            <div class="space-10"></div>
            <form method="GET" action="{% url 'filter_book' %}">
                <div class="input-group">
                    <input type="text" name="book_title" class="input-search" placeholder="Enter book title">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                        <i class="icofont-search-1"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="space-80"></div>
            {% if searched %}
                <h1 style="font-weight:bold;">Search Results</h1>
            {% endif %}
            
            <h1>Books</h1>
            {% if genre %}
                <h2 class="mt-3" style="font-weight:bold;">{{ genre }}</h2>
            {% endif %}
            <ul class="list-inline list-unstyled sort-menu">
                <p class="mr-2" style="display:inline">Sort by:</p>
                <li class="mr-2"><a href="{% url 'filter_book' %}?sort=author__last_name">Author</a></li>
                <li class="mr-2"><a href="{% url 'filter_book' %}?sort=title">Title</a></li>
                <li class="mr-2"><a href="{% url 'filter_book' %}?sort=popularity">Most Popular</a></li>
            </ul>
            <hr>
            {% if book_list|length == 0 %}
                <h2>No Results Found</h2> 
            {% endif %}
            <div class="row">
                {% for book in book_list %}                  
                <div class="col-12 col-lg-6">
                    <div class="book-item">
                        {% if popularity_ranking %}
                        <legend class="ml-2 mb-3">{{ forloop.counter }}# Book Right Now</legend>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 col-lg-5 book-item-image">
                                <img src="{{ book.image.url }}" class="book-item-object" width="150">
                            </div>
                            <div class="col-12 col-lg-7 book-item-body">
                                <h5>{{ book.title }}</h5>
                                <h6>{{ book.author }}</h6>
                                <div class="space-10"></div>
                                <ul class="list-inline list-unstyled rating-star">
                                    {% for _ in book.get_enabled_star %}
                                        <li class="active-star">
                                            <i class="icofont-star"></i>
                                        </li>
                                    {% endfor %}
                                    {% if book.is_half_star_active %}
                                        <li class="active-half-star">
                                            <i class="icofont-star"></i>
                                        </li>
                                    {% endif %}
                                    {% for _ in book.get_disabled_star %}
                                        <li>
                                            <i class="icofont-star"></i>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p>
                                    {{ book.summary|linebreaksbr }}
                                </p>
                                <a href="{% url 'bookDetails' id=book.id %}">See the Book</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="col-xs-12 col-md-2">
            <div>
                <h3>
                <i class="icofont-filter"></i>
                Filter By
                </h3>
            </div>
            <div>
                <div class="space-30"></div>
                <h4>Genre</h4>
                <hr>
                <ul class="list-unstyled category-menu">
                {% for genre in genres %}
                    <li>
                        <a href="{% url 'filter_book' %}?book_genre={{ genre.name }}">{{ genre.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div>
        <div class="space-80"></div>
    </div>
    <div class="space-80"></div>
{% endblock %} 